language: python
python:
    - 2.7
    - 3.3
before_install:
    - sudo apt-get update
    - sudo apt-get install libopenmpi-dev
    - sudo apt-get install openmpi-bin
    - sudo apt-get install libhdf5-openmpi-dev
    - pip install numpy
    - pip install pyzmq --install-option="--zmq=bundled"
    - pip install ipython
    - pip install matplotlib  # takes too long to build
    - pip install mpi4py --allow-all-external --allow-unverified mpi4py
    - pip install cython
    - CC=mpicc pip install git+https://github.com/h5py/h5py.git --install-option="--mpi"
    - pip install sphinx
    - pip install sphinxcontrib-napoleon
    - pip install coverage
    - pip install coveralls
    - pip freeze
install:
    - python setup.py install
    - (cd $TRAVIS_BUILD_DIR && cd docs && make html)
before_script:
    - (cd $TRAVIS_BUILD_DIR && dacluster start)
    - lsof | grep python | wc -l
script:
    - (cd $TRAVIS_BUILD_DIR && make test_with_coverage)
after_script:
    - lsof | grep python | wc -l
    - (cd $TRAVIS_BUILD_DIR && dacluster stop)
after_success:
    - coverage combine
    - coveralls
